[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==1.11.10"
line-bot-sdk = "==1.5.0"
django-heroku = "==0.2.0"
requests = "==2.18.4"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
